# Compiled Java / Maven
**/target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Node / Frontend
**/node_modules/
**/.next/
**/out/
**/build/
/.pnp
.pnp.js
.yarn/install-state.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Environment variables
.env*.local
.env

# IDE / Editor files
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
.claude/skills
.agent/skills
.agents/skills
